.copyset-contain {
  text-align: center;

  &_card {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 1.5rem;
    // code to customize the scroll bar
    &::-webkit-scrollbar {
      height: 0.5rem;
    }
    &::-webkit-scrollbar-track {
      background: $color-secondary;
      border-radius: 1rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #92908f;
      border-radius: 1rem;
    }
    .copy-card {
      min-width: 20%;
      background-color: $color-card-bg;
      padding: 3rem 5rem;
      margin: 0 2rem;
      border-radius: 1rem;
      h4 {
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
      }
    }
  }
}

.createSetheading {
  text-align: center;
  h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
  }
}

.divider {
  margin: 6rem 0;
}

// trainer1 is in trainer1.scss file
// trainer1 and trainer2 are the two parent components for various pages of the trainer
.trainer2 {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  padding: 6rem 4rem;
  border-radius: 1.6rem;
}

.createSet_contain {
  text-align: center;

  &--set {
    display: flex;
    flex-direction: column;

    .createSet-inputs,
    .createSet_closing-btns {
      display: flex;
      justify-content: space-between;
      margin-bottom: 4rem;
      input {
        padding: 1rem 0;
        text-align: center;
        border: none;
        background-color: $color-primary-light;
        border-radius: 0.9rem;
        font-family: inherit;
        color: $color-primary;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: $color-primary;
        }
      }
      @include respond(tab-pot) {
        flex-direction: column;
        input {
          margin-bottom: 1.5rem;
        }
        button {
          margin-bottom: 1.5rem;
        }
      }
    }

    .createSet_closing-btns {
      button {
        text-transform: uppercase;
        font-size: 1.4rem;
      }
    }
  }
}

// !creation success page

.creationSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}
