.table-contain {
  overflow-x: auto;
  text-align: center;
  .searchContainer {
    margin: 0 auto;
    width: 40%;
    position: relative;
    @include respond(phone-med) {
      width: 60%;
    }
    input {
      width: 70%;
      text-align: left !important;
      padding-left: 2rem !important;

      &::placeholder {
        text-align: left;
      }
    }
    svg {
      position: absolute;
      right: 13.5rem;
      color: $color-primary;
      top: 50%;
      @include respond(tab-pot) {
        top: 37%;
      }
      @include respond(small-phone) {
        right: 1rem;
      }
      transform: translateY(-50%);
    }
  }
}
.table-contain {
  padding: 4rem !important;
  @include respond(phone) {
    padding: 4rem 1rem !important;
  }
}

.table {
  border-collapse: collapse;
  margin-bottom: 1rem !important;
  border-radius: 0.5rem !important;

  tr {
    text-align: center;
    th {
      font-size: 1.8rem;
      color: $color-primary;
      text-transform: uppercase;
      padding: 3rem 1rem;
      @include respond(phone-med) {
        font-size: 1.6rem;
      }
    }
    td {
      font-size: 1.6rem;
      padding-bottom: 3rem;
      text-transform: capitalize;
      &:nth-of-type(4) {
        text-transform: uppercase;
      }
      &:nth-of-type(5) {
        text-transform: uppercase;
      }
      @include respond(phone-med) {
        font-size: 1.5rem;
      }
    }
  }
}

.downloadReport-btn {
  margin-top: 2rem;
}
