@import "./base/mediaQueryManager";
@import "./base/variables";
@import "./base/btns";
@import "./base/base";

@import "./components/header";
@import "./components/trainer1";
@import "./components/downloadReport";
@import "./components/createSet";
@import "./components/quesBody";
@import "./components/searchDrop";
@import "./components/viva";
